<link rel="stylesheet" href="/css/style.css">
<footer class="sitefooter">
  <div class="footersocials">
    <a href="https://www.facebook.com/"><img src="/images/facebook.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/"><img src="/images/pinterest.png" alt="Pinterest"></a>
    <a href="https://za.pinterest.com/"><img src="/images/instagram.png" alt="Instagram"></a>
  </div>

  <p class="footertext">
    123 Culinary Lane, Foodville | tastebuds@foodcollege.com | Tel. 555-BAKE-101
  </p>

  <p class="footercopy">
    &copy; 2025 TasteBüds College – All Rights Reserved
  </p>
</footer>
</body>
</html>